/* Root variables */
:root {
  --font-main:
    'Jost', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;

  /* фиксирует "прыжки" макета при появлении/исчезновении скроллбара */
  scrollbar-gutter: stable both-edges;

  /* сглаживание текста */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-base: 16px;
  --line-height-base: 1.5;
}

/* Reset базовых отступов */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Ссылки */
a {
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  padding: 2px 4px;
  transition: background-color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}

/* Списки */
ul,
ol {
  padding-inline-start: 24px;
  margin-block-start: 0.2rem;
  margin-block-end: 0.2rem;
}

/* html & body */
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;

  /* фиксим mobile viewport баг (особенно iOS Safari) */
  min-height: -webkit-fill-available;

  /* только горизонтальный скролл отключаем, вертикальный оставляем */
  // overflow-x: hidden;
}

/* Vue root */
#app {
  min-height: 100%;
  margin: 0 auto;
  font-weight: normal;
}

/* Tables (часто нужны в админках/дашбордах) */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}
.v-card-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: var(--font-family-base);
}

.v-card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--font-family-base);
}
