@mixin Prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin Scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $black-lighten3;
    border-radius: 4px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $black-lighten3;
  }
}
@mixin Chars-limit($limit: 4) {
  max-width: #{$limit}ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin Lines-limit($limit: 4) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: $limit;
  -webkit-line-clamp: $limit;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin Txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// === Миксин для брейкпоинтов ===
@mixin respond-to($breakpoint) {
  $value: map.get($grid-breakpoints, $breakpoint);

  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }
}
@mixin respond-to-max($breakpoint) {
  $value: map.get($grid-breakpoints, $breakpoint);

  @if $value != null {
    @media (max-width: $value) {
      @content;
    }
  }
}
