@use 'sass:map';

@forward 'vuetify/settings' with (
  $grid-breakpoints: (
    'xs': 0,
    'sm': 576px,
    // Было 600px
    'md': 768px,
    // Было 960px
    'lg': 992px,
    // Было 1280px
    'xl': 1200px,
    // Было 1920px
    'xxl': 1400px,
    // Было 2560px
  )
);

@use 'vuetify/settings' as vuetify-settings;

// 4. Использование ПСЕВДОНИМА 'vuetify-settings' в миксинах
// Теперь переменные Vuetify (используемые в map.get) должны быть доступны.
@mixin respond-up($breakpoint) {
  // Доступ к переопределенной карте брейкпоинтов через псевдоним
  $value: map.get(vuetify-settings.$grid-breakpoints, $breakpoint);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin respond-down($breakpoint) {
  // Доступ к переопределенной карте брейкпоинтов через псевдоним
  $next-value: map.get(vuetify-settings.$grid-breakpoints, $breakpoint);
  @if $next-value {
    @media (max-width: #{$next-value - 0.02}) {
      @content;
    }
  }
}

h2 {
  font-family: 'jost', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #4f4f4f;
  @include respond-down(sm) {
    font-size: 1.25rem;
  }
}
h4 {
  font-family: 'jost', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #4f4f4f;
  @include respond-down(sm) {
    font-size: 1.1rem;
  }
}
