$white: #fff;
$black: #000000;

$black-lighten1: #4f4f4f;
$black-lighten2: #666666;
$black-lighten3: #808080;
$black-lighten4: #b3b3b3;
$black-lighten5: #d9d9d9;
$black-lighten6: #e6e6e6;
$black-lighten7: #f2f2f2;
$box-shadow: rgba(0, 0, 0, 0.1);


$green-start: #C3F544;
$green-md: #A7D82C;
$green-end: #74A400;

$primary: #51ACAA;
$secondary: #018786;
$dent-life: #016B56;
// $dent-life: #4CAF50;
$dent-icon: #20A0CD;

$scroll-bar-trail: #DEDEDE;
$scroll-bar-thumb: $primary;
$nav-button-bg: rgba($white, 0.8);
$nav-button-border: rgba($secondary, 0.5);
$nav-button-color: $primary;


